body
{
    font-family: Verdana, sans-serif;
    font-size:12px;
    background-color: #55BCC9;
}
button
{
    background-color:#F87309;
    border-color:#E24269;
    border-radius: 15%; 

}
.wrapper
{
 margin: 5%;
}
.nav
{   
    background-color:rgba(20, 132, 206);
    border: 2px solid #55BCC9;
    position: fixed;
    text-align: center;
    z-index: 0;
}
#nav1
{
    position: relative;
    border-radius: 90%;
    z-index: 1;
}
#nav2
{
    display: block;
    position: relative;
    border-radius: 20%;
    z-index: 1;
    padding: 10px 0 0 0;
}
#username
{
    margin: 0 0 0 -3px;
}
#nav3
{
    position: relative;
    border-radius: 20%;
    z-index: 1;
    padding: 10px 0 0 0;

}
#nav4
{
    position: relative;
    border-radius: 20%;
    z-index: 1;
    padding: 10px 0 0 0;
}
#search
{
    padding: 6% 0 0 0;
}
.checkout
{
    margin: 1%

}
.loginButton
{
    position: relative;
    left: 27.5%;
    padding: 1%;
}
.topPic
{
    position: relative;
    z-index: -1;
}
.blackOutline
{
    
    position: absolute;
    z-index: 0;
    left: 25%;
    bottom: 35%;
    border: 5.5px solid black;
}
.divide
{
    position: absolute;
    border: 5px solid rgba(20, 132, 206);
    background-color:  #55BCC9;
    
    z-index: 2 ;
}
.products
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ,'Times New Roman', Times, serif;
    position: relative;
    border: 5px solid  transparent;
    left: 0%;
    z-index:1;
}
.description
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ,'Times New Roman', Times, serif;
    position: absolute;
    margin: 0 0 0 110%;
    bottom: 50%;
}
.picsOfProducts
{
    position: relative;
}
.addToCart
{
    position: relative;
    left: 90%;
    margin: 0% 3%  1% 0%;
}
.footer
{
    margin: 100% 0 0 0;
}
.websiteInfo
{
    margin: 0;
}
.list1
{
    list-style-type: none;
    text-align: center;
}
#listItem
{
    display: inline-block;
    padding: 0% 5% 0% 5%;
}

